In [65]:
import pandas as pd

Mining Con dataset

In [87]:
cons_df = pd.read_csv("C:/Users/shali/OneDrive/Desktop/wiki/Data_mining/Data_mining_2_updated/_con.csv",index_col=0, delimiter=",")
cons_df

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
ix,,,,,,,,,,,,,,,,,,,,,
k017_con,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b027_con,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
k003_con,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
k016_con,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b018_con,1,0,0,0,0,0,0,1,0,1,...,0,0,1,1,0,0,0,0,0,0
b030_con,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b031_con,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
k029_con,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b019_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b021_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b008_con,1,0,0,0,0,0,0,1,0,1,...,0,0,1,1,0,0,0,0,0,0
b034_con,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
b020_con,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
k012_con,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
k006_con,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b022_con,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b023_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
k013_con,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b050_con,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b045_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b051_con,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b047_con,0,0,0,0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
b053_con,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b052_con,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b042_con,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
b057_con,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b059_con,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b064_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b062_con,1,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
b048_con,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b049_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b061_con,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b006_con,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
k022_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
k009_con,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
k020_con,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b004_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
k018_con,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
b028_con,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b029_con,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
k019_con,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
b003_con,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [88]:
cons_df.isnull().any()

0     False
1     False
2     False
3     False
4     False
      ...
93    False
94    False
95    False
96    False
97    False
Length: 98, dtype: bool

In [89]:
cons_df.dtypes

0     int64
1     int64
2     int64
3     int64
4     int64
      ...
93    int64
94    int64
95    int64
96    int64
97    int64
Length: 98, dtype: object

In [90]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [91]:
min_support_con = 7/len(cons_df)
# compute the frequent itemsets using fpgriowth from mlxtend
from mlxtend.frequent_patterns.fpgrowth import fpgrowth
frequent_itemsets_con = fpgrowth(cons_df, min_support=min_support, use_colnames = True)

# print the frequent itemsets
frequent_itemsets_con

      support             itemsets
0    0.952381                 (56)
1    0.690476                 (13)
2    0.666667                 (57)
3    0.642857                 (34)
4    0.452381                  (5)
..        ...                  ...
546  0.261905      (61, 57, 60, 0)
547  0.261905      (56, 61, 60, 0)
548  0.261905     (56, 57, 60, 61)
549  0.261905      (56, 57, 61, 0)
550  0.261905  (60, 56, 57, 61, 0)

[551 rows x 2 columns]

In [96]:
cons_df[(cons_df["61"] == 1) & (cons_df["57"] == 1) & (cons_df["60"] == 1)]

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
ix,,,,,,,,,,,,,,,,,,,,,
b019_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b021_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b023_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b045_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b064_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
b062_con,1,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
b049_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
k022_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
k020_con,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
k018_con,1,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
b028_con,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
frequent_itemsets_con.head(10)

    support itemsets
0  0.952381     (56)
1  0.690476     (13)
2  0.666667     (57)
3  0.642857     (34)
4  0.452381      (5)
5  0.380952     (35)
6  0.380952     (21)
7  0.357143     (22)
8  0.214286     (23)
9  0.190476     (90)

Mining Complete dataset

In [100]:
comp_df = pd.read_csv("C:/Users/shali/OneDrive/Desktop/wiki/Data_mining/Data_mining_2_updated/complete_context_withlabels.csv",index_col = 0, delimiter=";")
comp_df

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,...,a88,a89,a90,a91,a92,a93,a94,a95,a96,a97
micro_k017_con,1,1,0,0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
micro_b033_pro,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
micro_b027_con,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
micro_k003_con,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
micro_b026_pro,1,1,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
micro_b017_pro,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
micro_k027_pro,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
micro_b003_con,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
micro_b002_pro,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
micro_b016_pro,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
min_support = 7/len(comp_df)
# compute the frequent itemsets using fpgriowth from mlxtend
from mlxtend.frequent_patterns.fpgrowth import fpgrowth
frequent_itemsets = fpgrowth(comp_df, min_support=min_support, use_colnames = True)

# print the frequent itemsets
frequent_itemsets

       support                                          itemsets
0     0.685393                                             (a13)
1     0.528090                                              (a5)
2     0.438202                                              (a0)
3     0.415730                                             (a21)
4     0.179775                                              (a7)
...        ...                                               ...
2578  0.089888       (a56, a60, a34, a5, a0, a27, a38, a13, a22)
2579  0.089888       (a56, a60, a34, a5, a0, a27, a38, a13, a21)
2580  0.089888       (a56, a34, a5, a0, a27, a38, a13, a21, a22)
2581  0.089888       (a56, a60, a34, a5, a0, a27, a13, a21, a22)
2582  0.089888  (a56, a60, a34, a5, a0, a27, a38, a13, a21, a22)

[2583 rows x 2 columns]

In [81]:
# Compute the association rules based on the frequent itemsets
from mlxtend.frequent_patterns import association_rules

# compute and print the association rules
result = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
result

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(a13),(a56),0.685393,0.921348,0.606742,0.885246,0.960816,-0.024744,0.685393
1,(a5),(a13),0.528090,0.685393,0.415730,0.787234,1.148587,0.053781,1.478652
2,(a5),(a56),0.528090,0.921348,0.460674,0.872340,0.946809,-0.025881,0.616105
3,"(a56, a5)",(a13),0.460674,0.685393,0.348315,0.756098,1.103159,0.032572,1.289888
4,"(a13, a5)",(a56),0.415730,0.921348,0.348315,0.837838,0.909361,-0.034718,0.485019
...,...,...,...,...,...,...,...,...,...
89449,"(a21, a27)","(a56, a60, a34, a5, a0, a38, a13, a22)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf
89450,"(a22, a27)","(a56, a60, a34, a5, a0, a38, a13, a21)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf
89451,"(a38, a21)","(a56, a60, a34, a5, a0, a27, a13, a22)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf
89452,"(a38, a22)","(a56, a60, a34, a5, a0, a27, a13, a21)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf
89453,(a27),"(a56, a60, a34, a5, a0, a38, a13, a21, a22)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf

In [82]:
# compute the antecedent length
result["antecedent_len"] = result["antecedents"].apply(lambda x: len(x))
result

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(a13),(a56),0.685393,0.921348,0.606742,0.885246,0.960816,-0.024744,0.685393,1
1,(a5),(a13),0.528090,0.685393,0.415730,0.787234,1.148587,0.053781,1.478652,1
2,(a5),(a56),0.528090,0.921348,0.460674,0.872340,0.946809,-0.025881,0.616105,1
3,"(a56, a5)",(a13),0.460674,0.685393,0.348315,0.756098,1.103159,0.032572,1.289888,2
4,"(a13, a5)",(a56),0.415730,0.921348,0.348315,0.837838,0.909361,-0.034718,0.485019,2
...,...,...,...,...,...,...,...,...,...,...
89449,"(a21, a27)","(a56, a60, a34, a5, a0, a38, a13, a22)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,2
89450,"(a22, a27)","(a56, a60, a34, a5, a0, a38, a13, a21)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,2
89451,"(a38, a21)","(a56, a60, a34, a5, a0, a27, a13, a22)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,2
89452,"(a38, a22)","(a56, a60, a34, a5, a0, a27, a13, a21)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,2
89453,(a27),"(a56, a60, a34, a5, a0, a38, a13, a21, a22)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,1

In [83]:
#selecting based on the rules
result[ (result['antecedent_len'] == 3) &
       (result['confidence'] > 0.75) &
       (result['lift'] > 1.2) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
9,"(a56, a13, a5)",(a34),0.348315,0.606742,0.348315,1.000000,1.648148,0.136978,inf,3
10,"(a56, a5, a34)",(a13),0.348315,0.685393,0.348315,1.000000,1.459016,0.109582,inf,3
18,"(a56, a57, a5)",(a34),0.213483,0.606742,0.179775,0.842105,1.387914,0.050246,2.490637,3
21,"(a56, a57, a5)",(a13),0.213483,0.685393,0.179775,0.842105,1.228645,0.033455,1.992509,3
24,"(a13, a57, a5)",(a34),0.179775,0.606742,0.179775,1.000000,1.648148,0.070698,inf,3
...,...,...,...,...,...,...,...,...,...,...
89432,"(a13, a22, a27)","(a56, a60, a34, a5, a0, a38, a21)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,3
89433,"(a22, a21, a27)","(a56, a60, a34, a5, a0, a38, a13)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,3
89434,"(a38, a13, a21)","(a56, a60, a34, a5, a0, a27, a22)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,3
89435,"(a38, a13, a22)","(a56, a60, a34, a5, a0, a27, a21)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,3
89436,"(a38, a22, a21)","(a56, a60, a34, a5, a0, a27, a13)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,3

In [84]:
df_subset = result.sample(n=50)
df_subset

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
54130,"(a56, a61, a35, a13, a39)","(a60, a57, a34)",0.101124,0.101124,0.101124,1.000000,9.888889,0.090898,inf,5
27723,"(a57, a35, a0, a38, a13)","(a61, a34)",0.101124,0.101124,0.101124,1.000000,9.888889,0.090898,inf,5
59973,"(a60, a35, a0, a13, a39)","(a56, a38, a57, a34)",0.101124,0.101124,0.101124,1.000000,9.888889,0.090898,inf,5
70349,(a27),"(a56, a60, a5, a38, a21, a22)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,1
25131,"(a56, a60, a61, a34, a0, a38)",(a35),0.101124,0.348315,0.101124,1.000000,2.870968,0.065901,inf,6
22199,"(a56, a60, a34, a0, a22)","(a38, a5, a21)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,5
74381,"(a13, a27, a34)","(a56, a38, a22, a5)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,3
86331,"(a56, a22, a21, a27)","(a60, a34, a0, a38, a13)",0.089888,0.202247,0.089888,1.000000,4.944444,0.071708,inf,4
44658,"(a56, a60, a61, a34, a0)","(a35, a39)",0.101124,0.101124,0.101124,1.000000,9.888889,0.090898,inf,5
50220,"(a13, a61, a57, a34)","(a60, a35, a39, a38)",0.101124,0.101124,0.101124,1.000000,9.888889,0.090898,inf,4
66639,"(a38, a13, a5, a27)","(a56, a22)",0.089888,0.348315,0.089888,1.000000,2.870968,0.058578,inf,4
34532,"(a39, a34)","(a56, a38, a0)",0.101124,0.202247,0.101124,1.000000,4.944444,0.080672,inf,2
20398,"(a38, a22, a21)","(a56, a60, a5, a34)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,3
81147,"(a38, a13, a5, a27)","(a56, a60, a21, a0)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,4
69327,"(a22, a27)","(a56, a13, a5, a0)",0.089888,0.101124,0.089888,1.000000,9.888889,0.080798,inf,2
88782,"(a56, a60, a5, a27, a21, a22)","(a38, a13, a0, a34)",0.089888,0.202247,0.089888,1.000000,4.944444,0.071708,inf,6
25169,"(a56, a38, a35, a34)","(a60, a61, a0)",0.101124,0.191011,0.101124,1.000000,5.235294,0.081808,inf,4
33361,"(a56, a60, a39)","(a61, a35)",0.101124,0.101124,0.101124,1.000000,9.888889,0.090898,inf,3
16502,"(a56, a38, a13, a35)","(a60, a57, a0, a34)",0.101124,0.101124,0.101124,1.000000,9.888889,0.090898,inf,4
29249,"(a56, a38, a61, a0)","(a13, a57, a35, a34)",0.101124,0.348315,0.101124,1.000000,2.870968,0.065901,inf,4
77435,"(a56, a27, a34)","(a21, a13, a5, a0)",0.089888,0.134831,0.089888,1.000000,7.416667,0.077768,inf,3
36872,"(a56, a39, a34)","(a38, a61, a13)",0.101124,0.101124,0.101124,1.000000,9.888889,0.090898,inf,3
16449,"(a56, a60, a35, a38, a13)","(a57, a0, a34)",0.101124,0.123596,0.101124,1.000000,8.090909,0.088625,inf,5
23544,"(a38, a61, a0)","(a60, a57)",0.101124,0.191011,0.101124,1.000000,5.235294,0.081808,inf,3
67505,"(a22, a21, a0)","(a56, a60, a27)",0.101124,0.089888,0.089888,0.888889,9.888889,0.080798,8.191011,3
20823,"(a38, a5, a34)","(a60, a22, a21, a0)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,3
60289,"(a56, a61, a57, a35, a0, a38, a39)","(a60, a13, a34)",0.101124,0.202247,0.101124,1.000000,4.944444,0.080672,inf,7
47153,"(a56, a34, a35, a38, a39)","(a60, a13)",0.101124,0.202247,0.101124,1.000000,4.944444,0.080672,inf,5
9390,"(a57, a5, a23, a13, a21)","(a56, a35)",0.179775,0.348315,0.179775,1.000000,2.870968,0.117157,inf,5
71195,"(a38, a13, a22, a27)","(a56, a60, a0)",0.089888,0.325843,0.089888,1.000000,3.068966,0.060598,inf,4
77550,"(a5, a27, a38, a21, a22)","(a60, a0, a34)",0.089888,0.202247,0.089888,1.000000,4.944444,0.071708,inf,5
59842,"(a56, a57, a35, a38, a13, a39)","(a60, a0, a34)",0.101124,0.202247,0.101124,1.000000,4.944444,0.080672,inf,6
9125,"(a22, a57, a23, a34)","(a56, a13, a35)",0.179775,0.348315,0.179775,1.000000,2.870968,0.117157,inf,4
68730,"(a56, a60, a0, a27, a13)",(a5),0.089888,0.528090,0.089888,1.000000,1.893617,0.042419,inf,5
81938,"(a22, a5, a27)","(a34, a0, a38, a13, a21)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,3
29894,"(a61, a34)","(a60, a57, a35, a0, a38, a13)",0.101124,0.101124,0.101124,1.000000,9.888889,0.090898,inf,2
64858,"(a38, a27, a13, a34)","(a60, a22)",0.089888,0.089888,0.089888,1.000000,11.125000,0.081808,inf,4
64211,"(a5, a27)","(a56, a0, a34)",0.089888,0.247191,0.089888,1.000000,4.045455,0.067668,inf,2
62344,"(a27, a22, a21, a34)",(a38),0.089888,0.202247,0.089888,1.000000,4.944444,0.071708,inf,4
14685,"(a38, a13, a34)","(a60, a0)",0.202247,0.325843,0.202247,1.000000,3.068966,0.136346,inf,3
8922,"(a56, a35, a57, a5)","(a13, a22, a23)",0.179775,0.179775,0.179775,1.000000,5.562500,0.147456,inf,4
16269,"(a38, a35)","(a56, a60, a57, a34, a0)",0.101124,0.101124,0.101124,1.000000,9.888889,0.090898,inf,2
75101,"(a60, a5, a0)","(a13, a22, a21, a27)",0.112360,0.089888,0.089888,0.800000,8.900000,0.079788,4.550562,3
36858,"(a56, a38, a61, a39)","(a13, a34)",0.101124,0.606742,0.101124,1.000000,1.648148,0.039768,inf,4
36787,"(a38, a61, a39)","(a56, a57, a34)",0.101124,0.348315,0.101124,1.000000,2.870968,0.065901,inf,3
34613,"(a56, a38, a39)","(a13, a34)",0.101124,0.606742,0.101124,1.000000,1.648148,0.039768,inf,3
46318,"(a38, a57, a0, a34)","(a60, a35, a39)",0.101124,0.101124,0.101124,1.000000,9.888889,0.090898,inf,4
48716,"(a56, a57, a34, a35, a0, a39)",(a13),0.101124,0.685393,0.101124,1.000000,1.459016,0.031814,inf,6
30934,(a62),"(a60, a61, a57)",0.089888,0.191011,0.089888,1.000000,5.235294,0.072718,inf,1
7800,"(a35, a5, a34)","(a22, a57, a21, a23)",0.179775,0.179775,0.179775,1.000000,5.562500,0.147456,inf,3